<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SQL Integration</title>
    @* <link rel="stylesheet" href="~/SqlIntegrationUI.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        textarea {
            resize: both; /* Allows stretching in both directions */
            overflow: auto; /* Adds scrollbars if needed */
        }

        body {
            font-size: 1.1em;
            font-weight: 350;
        }

        th {
            /*   background-color: 33, 37, 41 !important;
                            background: 33, 37, 41 !important;
                            color: white !important;
                 */ position: sticky !important;
            top: 0;
            box-shadow: 0 2px 2px -1px #01255a;
        }

        td {
            max-height: 10px;
            max-width: 450px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis
        }

        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
            text-transform: none;
            /* font-size: 1.1em; */
        }
        /*  th, td {
                    padding: 0.25rem;
                } */
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" style="position: sticky !important">
        <div class="container">
            <a class="navbar-brand" href="#">SQL Integration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item dropdown" data-bs-theme="light">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Add Service</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Services" asp-action="Create">Add New</a>
                            <a class="dropdown-item" asp-controller="CreateFromExcel" asp-action="CreateFromExcel">Add From Excel</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*  <footer class="border-top footer text-muted">
    <div class="container">
    &copy; 2024 - SqlIntegration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
