@model             ServiceDetail

@{
    ViewData["Title"] = "Upload";
}

<br />
<h1>Create</h1>

<h4>New Service</h4>
<hr />
<form asp-action="View" asp-controller="Services">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group form-switch">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Enable" type="checkbox" />&nbsp;&nbsp;Enable
        </label>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Period" class="control-label"></label>
            <input asp-for="Period" class="form-control" />
            <span asp-validation-for="Period" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Table" class="control-label"></label>
            <input asp-for="Table" class="form-control" />
            <span asp-validation-for="Table" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <label asp-for="Endpoint" class="control-label"></label>
            <input asp-for="Endpoint" class="form-control" />
            <span asp-validation-for="Endpoint" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <label asp-for="QueryString" class="control-label">Query String</label>
            <textarea id="txtQS" asp-for="QueryString" class="form-control" rows="1" data-val="false"></textarea>
            <span asp-validation-for="QueryString" class="text-danger"></span>
        </div>
    </div>
    <br />
    <input type="submit" value="Create" class="btn btn-primary" asp-action="Create" />
    <input type="submit" value="Cancel" class="btn btn-outline-secondary" asp-action="Index" id="CancelBtn" asp-controller="Services"/>
</form>
<script>
    document.getElementById("CancelBtn").
        addEventListener("click", function () {
            window.location.href =
                '@Url.Action("Index", "Services")';
        });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

